@page
@model ProyectoCalidad.Pages.UserInModel
@{
    ViewData["Title"] = "User";
}
<!-- style css -->
<link href="@Url.Content("~/css/style.css")" rel="stylesheet" />
<!-- Responsive-->
<link href="@Url.Content("~/css/responsive.css")" rel="stylesheet" />

<body class="main-layout">
    
    <h1 class="display-4">Welcome</h1>
    <h1>User</h1>
    <h1><div>@ViewData["GraphApiResult"]</div></h1>
    <h1><div>@ViewData["GraphApiResult2"]</div></h1>
    
</body>